.container { 
	display: flex;
	justify-content: center;
	flex-flow: row-wrap;
}

.content-display {

}


button {
  border-radius: 3px;
  width: 150px;
  margin: 1px;
  height: 25px;
  background-color: white;
}

button:click {
  
}

button:hover {
  cursor: pointer;
  background-color: dodgerblue;

}


header .main{
	height: 100px;
	display: flex;
	justify-content: center;
}

header .get-dates {
	display: flex;
	justify-content: center;
}

header .enter-button{
	display: flex;
	justify-content: center;
}

body {
	background-image: url(POLAROID_HEADER.png);
}



.input-name-field {
 height: 50px;
 font-size: 16px;
}


.input-location-field {
 height: 50px;
 font-size: 16px;
}


th {
    text-align: left;
}

table, th, td {
    border: 1px solid black;
}

#print-table {
   visibility: hidden;
   height: 300px;
   margin-left: 80px;
   margin-right: 80px;
   overflow: auto;
}

#add{
	visibility: hidden;
	float: left;
	margin-left: 80px;
	/*display: flex;
	justify-content: flex-end;*/
}

#final {
	visibility: hidden;
	float: right;
	margin-right: 80px;
}

