/*.container { 
	display: flex;
	justify-content: center;
	flex-flow: row-wrap;
}

.content-display {

}
*/

button {
  border-radius: 3px;
  width: 150px;
  margin: 1px;
  height: 25px;
  background-color: white;
}

button:click {
  
}

button:hover {
  cursor: pointer;
  background-color: dodgerblue;

}

header {
	font-family: 'Shadows Into Light', cursive;
}

header .main{
	height: 50px;
	display: flex;
	justify-content: center;
	
	font-size: 70px;

}

header .get-dates {
	display: flex;
	justify-content: center;
/*	padding-top: 200px;*/
}

header .enter-button{
	display: flex;
	justify-content: center;
}

body {
    height: 100%;
    background-image: url(IMG/explore.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: 'Shadows Into Light', cursive;

}


.input-name-field {
 height: 30px;
 font-size: 16px;
}


.input-location-field {
 height: 30px;
 font-size: 16px;
}


th {
	background-color: #C0392B;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;

}

tr {
	background-color: #f5f5f5;
}

td {
}

#print-table {
   visibility: hidden;
   height: 300px;
   margin-left: 80px;
   margin-right: 80px;
   overflow: auto;
}

#add{
	visibility: hidden;
	float: left;
	margin-left: 80px;
	/*display: flex;
	justify-content: flex-end;*/
}

#final {
	visibility: hidden;
	float: right;
	margin-right: 80px;
}

